body
{
    background-color: #2C313C;
}


/* První stránka */

.MyJob
{
    font-size: 17px;
    font-family: 'Vesper Libre', serif;
    color: white;
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    
}

.FirstName
{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Comic Neue', cursive;
    
    font-size: 26px;
    color: white; 
    margin-left: 5%;
    
}
.BackGround
{
    background-color: #4B5367;
    
    
}

.FirstPage
{
    background-color: #3D4352;
    border: solid #3D4352;
    height: 400px;
}

/* První stránka Konec */


/* Druhá stránka */
.SecondPage
{
    background-color: #2C313C; 
    color: white;
    border: solid #2C313C;
    height: 600px;
}

.AboutME
{
    margin-left: 20%;
    font-size: 30px;
}

.SecondPageFirstText,.SecondPageSecondText
{
    margin-left: 28%;
    
}

.SecondPageFirstText
{
    margin-top: 5%;
}

.LineSecondPage
{
    border: solid 1px  white;
    width: 1px;
    height: 80%;
    float: left;
    margin-left: 25%;
    background-color: white;
}

/* Druhá stránka Konec */




/*Třetí stránka*/

.LineThirdPage

{
    border: solid 1px  white;
    width: 1px;
    height: 70%;
    float: left;
    margin-left: 25%;
    background-color: white;
}



.ThirdPage
{
background-color: #3D4352;
border: solid 3px #3D4352;
color: white;
clear:both;
height: 1000px;

}

.Skills
{
    font-size: 30px;
    margin-left: 20%;

}

.marginLeftSkills
{
    margin-left:28% ;
}
.li{
    float: left;
    margin: 0;
    
    
    
}
.LanguageFloat
{
    float: left;
}

.HTMLDiv
{
    clear:both;
    margin-left: 28%;
}

.LiSkills
{
    font-size: 35px;
    margin-left: 10%;
}

.colorLiBlue
{
    color: #00B1FF;
}

.colorLiyellow
{
    color: #EBFF00;
}

.colorLiGreen
{
    color: #00FF3B;
}

.colorLiOrange
{
    color: #FF5800 ;
}
.colorLiDarkGreen
{
    color: #BA6A74;
}

.colorLiDarkBlue
{
   color: #006CFF;
}
.colorLiPink
{
    color: #E200FF;
}

.colorLiBlack
{
    color: black;
}

.colorLiLightGreen
{
    color: #00FF80 ;
}

.colorLiRed
{
    color: #FF0000;
}


.EducationTitle
{
    font-size: 20px;
    margin-left: 28%;
}

.Learne2Code
{
    margin-left: 30%;
    float: left;
}

.Itnetwork
{
    margin-left: 60%;
}
/* Třetí stránka Konec */




/* Čtvrtá stránka */
.FourthPage
{
    background-color: #2C313C;
    border: solid 3px #2C313C;
    color: white;
    height: 400px;
}

.Pricing
{
    margin-left: 20%;
    font-size: 30px;
}

.FourthPageText
{
    margin-left: 28%;
    margin-top: 5%;
}

.LineFourthPage
{
    border: solid 1px  white;
    width: 1px;
    height: 60%;
    float: left;
    margin-left: 25%;
    background-color: white;
    margin-top: 2%;
}
/* Čtvrtá stránka Konec */


/* Pátá stránka*/
.FifthPage
{
    background-color: #3D4352;
    border: solid 3px #3D4352;
    color: white;
    height: 1000px;
}

.MyProject
{
    margin-left: 20%;
    font-size: 30px;
}
.FifthPageText
{
    margin-left: 28%;
    
}

.Projects
{
    margin-left: 28%;
    font-size: 20px;
}
.btn
{
    margin-left: 28%;
    padding: 1%;
    background-color: tomato;
    cursor: pointer;
}
.btn:hover
{
    background-color:#FFA384;    ;
}

.MyGame
{
    margin-left: 28%;
}

.MyGameTitle
{
    font-size: 25px;
}

a
{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.LineFifthPage
{
    border: solid 1px  white;
    width: 1px;
    height: 80%;
    float: left;
    margin-left: 25%;
    background-color: white;
    
}
/* Pátá stránka Konec */

/* Šestá stránka*/
.SixthPage
{
    color: white;
    background-color:#2C313C ;
    border: solid 3px #2C313C;
    height: 650px;
}

.Contact
{
    font-size: 30px;
    margin-left: 20%;
}

.LabelBox
{
    margin-left: 28%;
    
}

textarea
{
    background-color:#2C313C ;
    color: white;
    border: 1px solid white;
}

.NameandEmail
{
    background-color:#2C313C ;
    color: white;
    border: 1px solid white;
    width: 25%;
    height: 20px;
}

.sendBtn
{
    margin-left: 15%;
    width: 150px ;
    height: 30px;
    background-color: #FF6200;
    cursor: pointer;
    border: 1px #707070;
    border-radius: 4px;
}


.Footer
{
    margin-top: 5%;
    margin-left: 20%;
}

.footerpictures
{
    width: 40px;
    height: 40px;
}

.OrangeLineFoot
{
    border: solid 1px  #FF4500;
    width: 550px;
    height: 8px;
    border-radius: 10px;
    
    background-color: #FF4500;
    margin-top: 2%;
}

.LineSixPage
{
    border: solid 1px  white;
    width: 1px;
    height: 47%;
    float: left;
    margin-left: 25%;
    background-color: white;
    
}
/* Šestá stránka Konec */










/* Geometrické obrazce*/
/* First Page */
.obrazceFirstPage
{
    position: relative;
    margin-left:50% ;
    
   
}

.pngFirstPage1
{
    position: absolute;
    width: 60%;
    bottom: 130px;
    left: -100px;
    
    
}

.pngFirstPage2
{
    position: absolute;
    height: 150px;
    left: -100px;
}

.pngFirstPage3
{
    position: absolute;
    width: 15%;
    height: 300px;
    left: 100px;
    top: -130px;
    

}

/* First Page Konec */

/* Second Page */
.pngSecondPage1
{
    position: absolute;
    width: 25%;
    top: 900px;
    right: 600px;
}
.pngSecondPage2
{
    position: absolute;
    
    top: 700px;
    right: 600px;
}
/* Second Page Konec */


/* Third Page */
.pngThirdPage1
{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 1500px;
    left: 2%;
}

.pngThirdPage2
{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 1600px;
    left: 2%;
}

.pngThirdPage3
{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 1100px;
    left: 80%;
}
/* Third Page Konec */



/* Fourth Page */
.pngFourthPage1
{
    position: absolute;
    top:2050px;
    left: 80%;
    width: 50px;
    height: 50px;
}

.pngFourthPage2
{
    position: absolute;
    top:2050px;
    left: 60%;
    width: 50px;
    height: 50px;
}

.pngFourthPage3
{
    position: absolute;
    top:2050px;
    left: 60%;
    width: 400px;
    height: 10px;
}
/* Fourth Page Konec */

/* Fifth Page */
.pngFifthPage1
{
    position: absolute;
    top: 2700px;
    height: 40px;
}

.pngFifthPage2
{
    position: absolute;
    top: 2740px;
    height: 200px;
    width: 40px;
    left: 100px;
}


.pngFifthPage3
{
    position: absolute;
    top: 2740px;
    width: 100px;
    height: 100px;
    left: 75%;
}

.pngFifthPage4
{
    position: absolute;
    top: 2700px;
    width: 300px;
    height: 300px;
    left: 70%;
}
/* Fifth Page Konec */


/* Sixth Page */
.pngSixthPage1
{
    position: absolute;
    top: 3600px;
    width: 150px;
    height: 150px;
    left: 2%;

}

.pngSixthPage2
{
    position: absolute;
    top: 3650px;
    width: 150px;
    height: 150px;
    left: 5%;

}

.pngSixthPage3
{
    position: absolute;
    top: 3500px;
    width: 100px;
    height: 100px;
    left: 80%;

}

/* Sixth Page Konec */


/* Geometrické obrazce Konec */



